@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light only;
  color: #475267;
}

body {
  background-image: url("./assets/wishbg.jpg");
}

h3 {
  color: #856041;
}

.title {
  background-image: url("./assets/title.png");
  background-blend-mode: lighten;
  aspect-ratio: 30.33;
  text-align: center;
}

.tag {
  margin-top: -30px;
  z-index: 0;
  background-image: url("./assets/tag.png");
  aspect-ratio: 0.63;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 767px) {
  .book,
  .task,
  .taskModal,
  .item,
  .emblem,
  .header {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .book {
    background-image: url("./assets/book.png");
    aspect-ratio: 1.89;
    padding: 75px;
  }

  .task,
  .taskModal {
    border-image-slice: 20 20 20 20;
    border-image-outset: 0;
    border-image-repeat: stretch;
  }

  .task {
    border-image-source: url("./assets/task.png");
  }

  .taskModal {
    border-image-source: url("./assets/modal.png");
    /* aspect-ratio: 1.52; */
  }

  .item {
    background-image: url("./assets/Quality_5_background.webp");
    aspect-ratio: 0.82;
  }

  .emblem {
    background-image: url("./assets/emble.png");
    aspect-ratio: 0.07;
  }

  .header {
    background-image: url("./assets/header.webp");
    aspect-ratio: 3.82;
  }
}
